body{
  padding-top: 20px;
}
.removeIdea{
  display:none;
}
.ideaText:hover .removeIdea{
  display:block;
  cursor: pointer;
}
.toggleVisibility{
  cursor: pointer;
}

.hideDate{
  display:none;
}
.listTitle:hover .hideDate{
  display:block;
  cursor: pointer;
}

.jumbotron{
  background-color: transparent;
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/header.jpg');
  color: white;
}
