.removeIdea{
  display:none;
}
.ideaText:hover .removeIdea{
  display:block;
  cursor: pointer;
}
.toggleVisibility{
  cursor: pointer;
}

.hideDate{
  display:none;
}
.listTitle:hover .hideDate{
  display:block;
  cursor: pointer;
}
