<template name="lists">
    <form class="list-add">
      <div class="input-group">
        <input type="text" class="form-control input-lg textInput lead" name="title" placeholder="Ideas for ...(2 words to 10 words)" autofocus>
        <div class="input-group-btn">
          <button class="btn btn-lg saveButton {{#if titleSave}}
        btn-success
        {{else}}
        btn-danger
      {{/if}} {{#unless titleSave}}
        disabled
      {{/unless}}" type="submit">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </div>
      </div>
    </form>
  <br>
  {{#each lists}}
    <div class="listTitle">
      {{#if editing}}
      <form class="list-edit">
        <div class="input-group">
          <input type="text" class="form-control input-lg textInput lead" name="titleEdit" value="{{editText}}" placeholder="Ideas for ...(2 words to 10 words)" autofocus>
          <div class="input-group-btn">
            <button class="btn btn-lg saveButton {{#if titleSave}}
          btn-success
          {{else}}
          btn-danger
        {{/if}} {{#unless titleSave}}
          disabled
        {{/unless}}" type="submit">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
          </div>
        </div>
      </form>
      {{else}}{{#if itsNew}}
        <span class="label label-warning">New</span>
      {{/if}}
      <p class="lead titleText">#{{plusOne @index}}:
        <a href="/ideas/{{_id}}">{{title}}({{ideasCount}})</a>
        <div class="btn-group btn-group pull-right actionBtn">
          <button type="button" class="btn btn-info editMe">
            <i class="fa fa-pencil editMe" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-danger removeList {{#unless showRemove}}
            disabled
          {{/unless}}">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </p>
      {{/if}}
    </div>
  {{else}}
    <p class="lead">No List created. Add one list to start with, once you add new list, it will take you to idea addition page.</p>
  {{/each}}

</template>
