<template name="lists">
  <form class="list-add">
    <div class="form-group">
      <input type="text" name="title" class="form-control input-lg" placeholder="10 Ideas for ..." required>
    </div>
    <input type="submit" name="submit" class="btn btn-primary btn-lg btn-block" value="Create list">
  </form>
  <br>
    {{#each lists}}
      <p class="lead">{{createdDate createdAt}} # <a href="/ideas/{{_id}}">{{title}}</a>
      </p> <hr>
       {{else}}
       <p class="lead">No List created.</p>
    {{/each}}

</template>
