<template name="lists">
  <form class="list-add">
    <div class="form-group">
      {{#unless titleSave}}
      <p class="lead">  Shorten text length by {{shortenBy}} to create list.</p>
      {{/unless}}
      <textarea id="titleId" class="form-control input-lg" name="title" placeholder="10 Ideas for ... (write in max 10 words)." rows="3" required></textarea>
      <!-- <input type="text" name="title2" class="form-control input-lg" placeholder="10 Ideas for ..." required> -->
    </div>
    <input type="submit" name="submit" class="btn {{#if titleSave}}
      btn-primary
      {{else}}
      btn-danger
    {{/if}} btn-lg btn-block {{#unless titleSave}}
      disabled
    {{/unless}}" value="Create list">
  </form>
  <br>
    {{#each lists}}<hr>
      <p class="lead">{{createdDate createdAt}} # <a href="/ideas/{{_id}}">{{title}}</a>
      </p>
       {{else}}
       <p class="lead">No List created.</p>
    {{/each}}

</template>
