<template name="nav">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="title" href="/">tenideas.xyz</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <!-- <li class="active" id="home"><a href="/">Home</a></li> -->
          {{#if currentUser}}
          {{#if isInRole 'admin'}}
          <li id="dash"><a href="/dash">Dash</a></li>
          <li id="quotes"><a href="/quotes">Quotes</a></li>
          {{/if}}
          <li id="lists"><a href="/lists">Lists</a></li>
          <li id="ideas"><a href="/ideas">Ideas</a></li>
          {{/if}}
          <li id="samples"><a href="/samples">Samples</a></li>
          <li id="summary"><a href="/summary">Summary</a></li>
        </ul>
        {{#if currentUser}}
          <p class="navbar-text navbar-right logout">
            <a href="#" class="navbar-link"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</a>
          </p>
          <p class="navbar-text navbar-right">
            <a href="#"><img src="{{gravatorUrl}}" class="img-circle" alt="{{name}}" width="25" height="25"> </a>
          </p>
        {{else}}
          <p class="navbar-text navbar-right">
            <a href="{{pathFor 'join'}}"><i class="fa fa-user-plus" aria-hidden="true"></i> New</a>
          </p>
          <p class="navbar-text navbar-right">
            <a href="{{pathFor 'signin'}}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
          </p>

        {{/if}}

      </div>
    </div>
  </nav>
</template>
