<template name="ideas">
  <div class="form-group pull-right">
    <input type="text" class="form-control textInput" id="" name="search" placeholder="Start typing to search...">
  </div>
  <p class="lead">You have added total {{userIdeasCount}} ideas. Keep adding.</p>
  {{#if list2Id}}
    <h3>10 ideas for
      : {{listTitle}}</h3>
    {{#if allowToAdd}}
      <form class="idea-add">
        <div class="input-group">
          <input type="text" class="form-control input-lg textInput" name="text" placeholder="I will ..(10 words max)" autofocus>
          <div class="input-group-btn">
            <button class="btn btn-lg {{#if textSave}}
            btn-success
            {{else}}
            btn-danger
          {{/if}} {{#unless textSave}}
            disabled
          {{/unless}}" type="submit">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </div>
        </div>
      </form> <hr>
      <p class="lead">Time elapsed since list created:
        {{timeLapsed}}
        minutes</p>


    {{else}}
      <p class="lead">Added 10 ideas in
        {{timeTakenforTen}}
        minutes.</p>

    {{/if}}
  {{else}}
    {{#if listPresent}}
      <p class="lead">Latest {{ideaCount}} Ideas</p>
    {{else}}
      <p class="lead">No such list. Create one to start.</p>
    {{/if}}

  {{/if}}
  <br>
  {{#if allowToAdd}}
    {{#if listPresent}}
      <p class="lead">Add #{{remainingCount}} more to complete this list.</p>
    {{/if}}
  {{/if}}
  {{#each ideas}}
    <p class="lead ideaText">#{{plusOne @index}}: {{text}}
      <i class="fa fa-times fa-lg pull-right removeIdea" data-toggle="tooltip" data-placement="top" title="Remove me" aria-hidden="true"></i>
    </p>
  {{else}}
    <p class="lead">
      {{#if list2Id}}
        No ideas added to
        {{listTitle}}.
      {{else}}<hr>
        Create a list to add ideas.
        <a href="/lists">Go here</a>
      {{/if}}
    </p>
  {{/each}}
  <!-- <button type="button" class="btn btn-default toggleHidden"> Toggle Hidden </button> -->
</template>
