<template name="ideas">
  <div class="form-group pull-right">
    <input type="text" class="form-control textInput lead" id="" name="search" placeholder="Start typing to search...">
  </div>
  <p class="lead">You have added total
    {{userIdeasCount}}
    ideas. Keep adding.</p>
  {{#if list2Id}}
    <h3>10 ideas for :
      {{listTitle}}</h3>
    {{#if allowToAdd}}
      <form class="idea-add">
        <div class="input-group">
          <input type="text" class="form-control input-lg textInput lead" name="text" placeholder="I will ..(10 words max)" autofocus="autofocus">
          <div class="input-group-btn">
            <button class="btn btn-lg {{#if textSave}}
            btn-success
            {{else}}
            btn-danger
          {{/if}} {{#unless textSave}}
            disabled
          {{/unless}}" type="submit">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </div>
        </div>
      </form>
      <hr>
      <p class="lead">Time elapsed since list created:
        {{timeLapsed}}
        minutes, add
        {{remainingCount}}
        more to complete this list.</p>
    {{else}}
      <p class="lead">Added 10 ideas in
        {{timeTakenforTen}}
        minutes.</p>
    {{/if}}
  {{else}}
    {{#if listPresent}}
      <p class="lead">Latest
        {{ideaCount}}
        Ideas</p>
    {{else}}
      <p class="lead">No such list. Create one to start.</p>
    {{/if}}
  {{/if}}
  {{#each ideas}}
    {{#if editing}}
      <form class="idea-edit">
        <div class="input-group">
          <input type="text" class="form-control input-lg textInput lead" name="textEdit" value="{{editText}}" placeholder="I will ..(10 words max)" autofocus="autofocus">
          <div class="input-group-btn">
            <button class="btn btn-lg {{#if textSave}}
        btn-success
        {{else}}
        btn-danger
      {{/if}} {{#unless textSave}}
        disabled
      {{/unless}}" type="submit">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
          </div>
        </div>
      </form>
      <br>
    {{else}}
      <p class="lead ideaText">#{{plusOne @index}}:
        {{text}}
        <div class="btn-group btn-group pull-right actionBtn">
          <button type="button" class="btn btn-primary createList">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-info editMe">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-danger removeIdea">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </p>
    {{/if}}
<hr>
  {{else}}
    <p class="lead">
      {{#if list2Id}}
        No ideas added to
        {{listTitle}}.
      {{else}}<hr>
        Create a list to add ideas.
        <a href="/lists">Go here</a>
      {{/if}}
    </p>
  {{/each}}
  <!-- <button type="button" class="btn btn-default toggleHidden"> Toggle Hidden </button> -->
</template>
