<template name="ideas">
  {{#if list2Id}}
    <p class="lead">10 ideas for
      {{listTitle}}</p>
    {{#if allowToAdd}}
    <p class="lead">Time elapsed since list created {{timeLapsed}} minutes</p>
      <form class="idea-add">
        <div class="form-group">
          <input type="text" name="text" class="form-control input-lg" placeholder="I will.." required="required">
        </div>
        <input type="submit" name="submit" class="btn btn-primary btn-lg btn-block" value="Add Idea">
      </form>
      {{else}} <p class="lead">Added 10 ideas in {{timeTakenforTen}} minutes.</p>

    {{/if}}
  {{else}}
    <p class="lead">Ideas from all lists.</p>
  {{/if}}
  <br>
  {{#if allowToAdd}}
  <p class="lead">Count :
    {{ideaCount}}</p>
    {{/if}}
  <a href="/lists" class="btn btn-info">Go to Lists</a> <br><br>
  {{#each ideas}}
    <p class="lead">
      <!-- {{#unless hide}} <i class="fa fa-eye-slash hideIdea" aria-hidden="true"></i> {{else}} <i class="fa fa-eye showIdea" aria-hidden="true"></i> {{/unless}} -->

      {{#unless list2Id}}
        <!-- <a href="/ideas/{{listId}}">
          <i class="fa fa-link" aria-hidden="true"></i>
        </a> -->
      {{/unless}}
      {{text}}</p>
    <hr>
  {{else}}
    <p class="lead">
      {{#if list2Id}}
        No ideas add to
        {{listName}}.
      {{else}}
        Create list to add ideas.
        <a href="/lists">Go here</a>
      {{/if}}
    </p>
  {{/each}}
  <!-- <button type="button" class="btn btn-default toggleHidden"> Toggle Hidden </button> -->
</template>
