<template name="App_body">
  <div class="container">
    {{> Template.dynamic template=nav}}
    {{> Template.dynamic template=main}}
    <hr>
    <div class="well well-lg">
      <p class="lead">Stop aiming for radical personal change!</p>
      <blockquote class="blockquote-reverse">
        <p>“Be patient with yourself. Self-growth is tender; it’s holy ground. There’s no greater investment.”</p>
        <footer>Stephen Covey
          <cite title="Source Title"></cite>
        </footer>
      </blockquote>
    </div>
  </div>
</template>
